body {
  min-width: 350px;
  font-family: sans-serif;

}

header {
  background-color: #262323;
  padding: 20px;
}
header h1 {
  text-align: center;
  color: #f2c349;

}
nav {
  background-color: #262323;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a {
  text-decoration: none;
  text-align: center;
  color: #f2c349;
  display: block;
  padding: 10px;
}
nav a:hover{
  background-color: #fff;
  border-radius: 5px;
}
article {
  width: 80%;
  border: 2px solid darkgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
article img {
height: 250px;
width: 250px;

}
aside {
  text-align: center;
  padding: 20px;

}
aside img {

  width: 250px;
}

.lees {
  text-transform: capitalize;
  color: darkred;
  text-decoration: none;
}

article div {
  min-width: 250px;
}

footer {
  height: 40px;
  text-align: center;
  color: #f2c349;
  background-color: #262323;
  padding:3px;
}

#een{
  order: 3;
}
#twee{
  order: 2;
}
#drie{
  order: 1;
}
#vier{
  order: 4;
}
@media screen and (min-width: 768px) {

  header {
    background-image: url("../img/esobanner.jpg");
    background-size: cover;
  }

  nav ul {
    display: flex;
  }
  header h1 {
    display: flex;
  }

  main {
    display: flex;
  }
  section {
    flex: 3;
    order: 1;
  }
  aside {
    flex: 1;
    order: 2;
  }
}
@media screen and (min-width: 1000px) {

  header {
    height: 200px;
  }

  article {
    flex: 1 ;
    display: flex;
    text-align: left;
  }

  article img {
    float: left;
    padding: 10px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  aside {
    max-width: 300px;
  }
}

@media screen and (min-width: 1600px) {

  header {
    height: 250px;
  }
}
